<footer>
  <div class="container">
    <div class="row text-center">
      <div class="social col-lg-4 col-md-6 col-sm-12">
        <ul class="d-flex justify-content-between">
          <li>تابعنا</li>
          <li>
            <a href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="payment col-lg-4 col-md-6 col-sm-12">
        <ul class="d-flex justify-content-between">
          <li>
            <a href="#"><i class="bi bi-credit-card"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-credit-card-fill"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-credit-card"></i></a>
          </li>
        </ul>
      </div>
      <p class="col-lg-4 col-md-6 col-sm-12">
        &copy; سيتي ديلز جميع الحقوق محفوظه
      </p>
    </div>
  </div>
</footer>
