<div class="container-fluid"></div>
<div class="topNav d-flex justify-content-between">
  <div class="left">
    <i class="mx-2 bi bi-telephone-fill"></i><span>01201850752</span>
  </div>
  <div class="right"><p class="mx-2">English</p></div>
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a routerLink="products" class="navbar-brand mx-3" href="#"
      >سيتي <span style="color: #ff8b1a">ديلز</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><i class="bi bi-geo-alt-fill"></i> <span>التوصيل الي الرياض</span
            ><span>&#62;</span></a
          >
        </li>
        <li class="nav-item mx-2">
          <form role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="بحث عن مننجات,عروض,..."
              aria-label="Search"
            />
            <i class="bi bi-search"></i>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="bi bi-person-fill"></i>التسجيل / <span>الدخول</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><span class="count">0</span><i class="bi bi-cart-fill"></i>السلة</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
