.container-fluid {
  background-color: #ff8b1a;
  height: 30px;
  padding: 0;
}

.topNav {
  background-color: #254276;
  width: 100%;
  padding: 10px 20px 0 20px;
  color: #fff;
}

nav {
  background-color: rgb(236, 236, 236);
  padding: 15px 0;
  margin-bottom: 20px;
  ul {
    li {
      font-size: 17px;
      position: relative;
      a {
        color: #254276;
        position: relative;
        span {
          font-weight: bold;
          font-size: 18px;
        }
        i {
          color: #ff8b1a;
          font-size: 22px;
          margin: 0 3px;
        }
      }
      form {
        input {
          margin-top: 5px;
          border: 1px solid #254276;
        }
        i.bi-search {
          position: absolute;
          top: 12px;
          left: 2px;
          font-weight: 400;
          color: #254276;
        }
      }
    }
  }
}

.count {
  width: 17px;
  height: 22px;
  background-color: #254276;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  color: #fff;
  font-size: 15px !important;
  font-weight: normal !important;
  position: absolute;
  top: 3px;
  left: 56px;
  padding-right: 5px;
}
