<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="dropdown col-lg-2 col-sm-6">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          جميع الفئات
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">ملابس</a></li>
          <li><a class="dropdown-item" href="#">أحذية</a></li>
          <li><a class="dropdown-item" href="#">أشياء أخري</a></li>
        </ul>
      </div>
      <div class="groubs col-lg-2 col-sm-6">
        <p>جروب 1</p>
      </div>
    </div>
  </div>
</div>
