<div class="container">
  <div class="row">
    <div class="feature col-lg-3">
      <div class="d-flex">
        <div class="right">
          <img src="assets/van.png" alt="alt" />
        </div>
        <div class="left">
          <h5>الشحن مجانا</h5>
          <p>شحن مجاني علي اوردر أكثر من 100 دولار</p>
        </div>
      </div>
    </div>
    <div class="feature col-lg-3">
      <div class="d-flex">
        <div class="right">
          <img src="assets/van.png" alt="alt" />
        </div>
        <div class="left">
          <h5>الشحن مجانا</h5>
          <p>شحن مجاني علي اوردر أكثر من 100 دولار</p>
        </div>
      </div>
    </div>
    <div class="feature col-lg-3">
      <div class="d-flex">
        <div class="right">
          <img src="assets/van.png" alt="alt" />
        </div>
        <div class="left">
          <h5>الشحن مجانا</h5>
          <p>شحن مجاني علي اوردر أكثر من 100 دولار</p>
        </div>
      </div>
    </div>
    <div class="feature col-lg-3">
      <div class="d-flex">
        <div class="right">
          <img src="assets/van.png" alt="alt" />
        </div>
        <div class="left">
          <h5>الشحن مجانا</h5>
          <p>شحن مجاني علي اوردر أكثر من 100 دولار</p>
        </div>
      </div>
    </div>
  </div>
</div>
