<div class="container d-flex justify-content-between mt-5">
  <div class="right d-flex justify-content-start w-50">
    <div class="w-50">
      <img src="assets/shopping.jpg" class="w-100 h-100" alt="" />
    </div>
    <div class="w-50 mt-5">
      <h3>كن علي علم <span>بأخر العروض</span></h3>
      <p>أشترك الأن</p>
    </div>
  </div>
  <div class="left w-50">
    <form class="">
      <p for="">البريد الالكتروني</p>
      <input
        type="email"
        class="w-50 form-control d-inline-block"
        placeholder="Email"
      />
      <button class="w-25 btn">اشترك الان</button>
    </form>
  </div>
</div>
