.container {
  max-height: 300px;
  h3,
  p {
    color: #254276;
  }
  .right {
    span,
    p {
      padding-bottom: 10px;
      border-bottom: 2px solid #ff8b1a;
    }
    p {
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      width: 40%;
      margin: 25px auto;
    }
  }
  .left {
    margin: 100px 50px 0 0px;
    p {
      font-size: 23px;
    }
    input {
      padding: 7px;
    }
    button {
      padding: 7px;
      margin-right: 5px;
      color: #fff;
      background: #ff8b1a; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #254276,
        #ff8b1a
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #254276,
        #ff8b1a
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}
