<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-3 d-flex justify-content-start">
        <h5 class="">سيتي <span style="color: #ff8b1a">ديلز</span></h5>
        <div style="margin-right: 35px">
          <p class="fs-4">الفئات</p>
          <p>جروب 1</p>
        </div>
      </div>

      <div class="col-2">
        <h5>خدمة العملاء</h5>
        <ul>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5>خدمة العملاء</h5>
        <ul>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5>خدمة العملاء</h5>
        <ul>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
          <li><a>عن الشركة</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5>تواصل معنا</h5>
        <ul>
          <li>
            <i class="ml-1 bi bi-envelope-fill"></i>
            <span>support@gmail.com</span>
          </li>
          <li>
            <i class="ml-1 bi bi-telephone-fill"></i>
            <span>01231231212</span>
          </li>
          <li>
            <i class="ml-1 bi bi-geo-alt-fill"></i>
            <span>الرياض شارع الملك فهد</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
